<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module>
    <display-name>XP blank module</display-name>
    <info>Blank module structure</info>
    <url></url>
    <vendor>
        <name>Michael Lazell</name>
        <url>http://www.enonic.com</url>
    </vendor>
    <dependencies system-min-version="5.0.0" system-max-version="5.1.0"/>
    <config>
      <input type="TextLine" name="shortname">
        <label>Shortname</label>
        <occurrences minimum="1" maximum="1"/>
      </input>
    </config>
</module>